[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-moment = "*"
flask-googlecharts = "*"
flask-wtf = "*"
wtforms-components = "*"
requests = "*"
pytz = "*"
bunyan = "*"
coverage = "*"
flask-testing = "*"
geocoder = "*"
scipy = "*"
gunicorn = "*"
google-api-python-client = "*"
"oauth2client" = "*"
vcrpy = "*"
"urllib3" = "*"
pandas = "*"
slackclient = "*"
pygal = "*"
dateparser = "*"
twilio = "*"
dateutils = "*"
pysftp = "*"
itsdangerous = "*"
flask-material = "*"
gcloud = "*"
flask-cache = "*"
zplgen = "*"
marshmallow = "*"
flask-script = "*"
"psycopg2" = "*"
lxml = "*"
apispec = "*"
wtforms-json = "*"
sqlalchemy = "*"
celery = "*"
redis = "*"
pypng = "*"
codecov = "*"
json-tools = "*"
pyhcl = "*"


[requires]

python_version = "3.6"
