[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
bunyan = "*"
requests = "*"
flask-material = "*"
flask-moment = "*"
flask-login = "*"
flask-wtf = "*"
flask-bootstrap = "*"
coverage = "*"
dateparser = "*"
gunicorn = "*"
flask-mail = "*"
pyjwt = "*"
