{% extends "base.html" %}

{% block app_content %}
<div class="center-align">
	<div class="chip center-align">{{ filters.count }}</div> 
  {% for m in filters.message_type %}
  <div class="chip center-align">{{ m }}</div>
  {% endfor %}
  message{% if filters.count!=1%}s{% endif %} found across
  {% for name in filters.profile_names %}
	<div class="chip center-align">{{ name }}</div>
  {% endfor %}
   between
  {% if filters.sent_after %}
   <div class="chip center-align">{{ filters.sent_after }}</div>
  {% else %}
	<div class="chip center-align">the start of time</div>
  {% endif %}
   and
  {% if filters.sent_before %}
   <div class="chip center-align">{{ filters.sent_before }}</div>
  {% else %}
  <div class="chip center-align">the end of time</div>
  {% endif %}
  {% if filters.q %}
  containing <div class="chip center-align">{{ filters.q }}</div>
  {% endif %}
    {% if filters.filtered %}</br>{% endif %}
	<a class="btn-floating blue darken-4 waves-effect modal-trigger tooltipped" data-position="bottom" data-tooltip="Search Messages" href="#filterModal" >
	    <i class="material-icons">search</i>
	</a>
  {% if filters.filtered %}
  {% if filters.count <= 20 %}
  <a class="btn-floating blue darken-4 waves-effect modal-trigger tooltipped" data-position="bottom" data-tooltip="E-Mail Results" href="javascript:bulk_operations('email');" >
      <i class="material-icons">email</i>
  </a>
  <a class="btn-floating blue darken-4 waves-effect modal-trigger tooltipped" data-position="bottom" data-tooltip="Replay Results" href="javascript:bulk_operations('replay');" >
      <i class="material-icons">replay</i>
  </a>
  {% endif %}
	<a class="btn-floating blue darken-4 waves-effect modal-trigger tooltipped" data-position="bottom" data-tooltip="Clear Filters" href="{{ url_for('feed_main') }}" >
	    <i class="material-icons">clear</i>
	</a>
  {% endif %}
<div id="bulk-operations"></div>
</div>
</br>
<div class="divider"></div>
</br>
<div id="results-list">
  {{ message_block|safe }}
</div>
{% if filters.has_next %}
<div id="scroll-block">
  <div id="scroll-trigger">
  </div>
</div>
{% else %}
{% endif %}
<div id="filterModal" class="modal top-sheet">
  <div class="modal-content">
    <h5 class="center-align">Search Message Feed</h5>
  <div class="row">
    {{ form_render|safe  }}
  </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-blue btn-flat">Dismiss</a>
  </div>
</div>

{{ moment.include_jquery() }}
{{ moment.include_moment() }}

<script>
  function get_message(message_id, task) {
      $('#message-panel-'+message_id).html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.post('/feed/message/'+message_id+'/'+task, {
          message_id: message_id,
      }).done(function(response) {
          $('#message-panel-'+message_id).html(response['html'])
      }).fail(function() {
          $('#message-panel-'+message_id).html("<p>{{ (' Error: Lookup failed.') }}</p>");
      });
  }
</script>

<script>
  function replay_message(message_id, token_id) {
      $('#message-'+message_id).html('<small>6dk replay</small></br><div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.post('/wms/replay/'+message_id+'/'+token_id, {
          message_id: message_id,
      }).done(function(response) {
          $('#message-'+message_id).text(response['html']);
          $('#transmission-info-'+message_id).html(response['replay_text']);
      }).fail(function() {
          $('#message-'+message_id).html("<p>{{ (' Error: Replay failed.') }}</p>");
      });
  }
</script>

<script>
  function copy_text(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>

<script>
function download_text(ref, filename) {
    var text = $(ref).text()
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);
    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
  }

</script>

<script>
  var targetElem = document.getElementById('#scroll-trigger');
  var waypoint = new Waypoint({
    element: document.getElementById('scroll-trigger'),
    handler: function(direction) {
      get_more()
    },
    offset: 600
  })
</script>

<script>
    function get_more() {
        $("#scroll-block").html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
        $.post('/feed', {
          message_type: {{ filters.message_type }},
          profile: {{ filters.profile }},
          sent_after: "{{ filters.sent_after }}",
          sent_before: "{{filters.sent_before }}",
          q: "{{ filters.q }}",
          page: {{ filters.next_page }},
        }).done(function(response) {
          if (response['has_next']) {
            $("#scroll-block").html(response['html'])
          }
        }).fail(function() {
            $("#scroll-block").html("<p>{{ (' Error: Lookup failed.') }}</p>");
        });
    }
</script>


{% endblock %}