{% if has_northbound %}
<h6 class="center-align">Northbound</h6>
</br>
{% for message in profile.data.northbound_messages %}
{% if message.name in user.data.message_types.northbound %}
<div class="row">
	<div class="col s1">
		{% if message.send %}
		<i class="material-icons">check</i>
		{% else %}
		<i class="material-icons">close</i>
		{% endif %}
	</div>
	<div class="col s3">
		{{ message.name }}
	</div>
	<div class="col s8 right-align">
		<small><i>{{ message.format }} via {{ message.transport }} | </i></small>
		{% if message.send==True %}
		<small><i>messages are being sent to {{ message.wms_host }}:{{ message.wms_port }}/{{ message.wms_path }}</i></small>
		{% else %}
		<small><i>messages are not being sent to WMS</i></small>
		{% endif %}	
        <a class="waves-effect waves-blue btn-flat btn-small btn-floating" href="javascript:edit_profile_settings('{{ profile.token_id }}', 'northbound', '{{ message.name }}');">
			<i class="material-icons black-text">edit</i>
		</a>
        <a class="waves-effect waves-blue btn-flat btn-small btn-floating" href="javascript:view_profile_settings('{{ profile.token_id }}', 'northbound', '{{ message.name }}');">
			<i class="material-icons black-text">visibility</i>
		</a>	
	</div>
</div>
{% endif %}
{% endfor %}
<div class="divider"></div>
{% endif %}

{% if has_southbound %}
<h6 class="center-align">Southbound</h6>
</br>
{% for message in profile.data.southbound_messages %}
{% if message.name in user.data.message_types.southbound %}
<div class="row">
	<div class="col s1">
		{% if not message.exception_pick %}
		<i class="material-icons">check</i>
		{% else %}
		<i class="material-icons">warning</i>
		{% endif %}
	</div>
	<div class="col s3">
		{{ message.name }}
	</div>
	<div class="col s8 right-align">
		<small><i>{{ message.format }} via {{ message.transport }}</i></small>	
        <a class="waves-effect waves-blue btn-flat btn-small btn-floating" href="javascript:get_message_transport_selector('{{ profile.token_id }}', 'southbound', '{{ message.name }}');">
			<i class="material-icons black-text">edit</i>
		</a>
		{% if message.name in ['pick-waves'] %}
        <a class="waves-effect waves-blue btn-flat btn-small btn-floating" href="javascript:tune_message_settings('{{ profile.token_id }}', 'southbound', '{{ message.name }}');">
			<i class="material-icons black-text">tune</i>
		</a>
        <a class="waves-effect waves-blue btn-flat btn-small btn-floating" href="javascript:view_profile_settings('{{ profile.token_id }}', 'southbound', '{{ message.name }}');">
			<i class="material-icons black-text">visibility</i>
		</a>
		{% endif %}
	</div>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% if not has_northbound and not has_southbound %}
<p class="center-align"><i>Please choose messages for your account</i></p>
{% endif %}