{% extends 'base.html' %}

{% block app_content %}
<div class="row">
    <div class="col s12">
      <h5 class="center-align">{{ header }}</h5>
      {% if user_profiles|length == 0 %}
      <p class="center-align"><i>You have no profiles. Create one to begin.</i></p>
      {% endif %}
      {% for profile in user_profiles %}
      <div class="card-panel hoverable {% if profile.data.active %}green lighten-5{% endif %}">
        <div class="row">
          <div class="col s12">
            <strong>{{ profile.data.friendly_name }}</strong>
            </br>
            <small><i>{{ profile.token_id }}</i></small>
          </div>
        </div>
        <div class="divider"></div>
        <div class="right-align">
          {% if not profile.data.active %}
          <a class="waves-effect waves-blue btn-flat tooltipped" data-position="top" data-tooltip="Activate Profile" href="{{ url_for('activate_profile', token=profile.token_id)}}">
            <i class="material-icons">check</i>
          </a>
          <a class="waves-effect waves-blue btn-flat tooltipped" data-position="top" data-tooltip="Delete Profile" href="{{ url_for('delete_profile', token=profile.token_id)}}">
            <i class="material-icons">delete</i>
          </a>
          {% endif %}
          <a class="waves-effect waves-blue btn-flat tooltipped" data-position="top" data-tooltip="Edit Profile" href="javascript:edit_profile_info('{{ profile.token_id }}');">
            <i class="material-icons">edit</i>
          </a>
          <a class="waves-effect waves-blue btn-flat tooltipped" data-position="top" data-tooltip="Forward Profile" href="javascript:forward_profile('{{ profile.token_id }}');">
            <i class="material-icons">send</i>
          </a>
          {% if user_profiles|length < limit %}
          <a class="waves-effect waves-blue btn-flat tooltipped" data-position="top" data-tooltip="Copy Profile" href="{{ url_for('copy_profile', token=profile.token_id)}}">
            <i class="material-icons">content_copy</i>
          </a>
          {% endif %}
         <a class="waves-effect waves-blue btn-flat tooltipped" data-position="top" data-tooltip="Profile Settings" href="javascript:get_profile_settings('{{ profile.token_id }}');">
            <i class="material-icons">settings</i>
          </a>
        </div>
        <div id="profile-panel-{{ profile.token_id }}"></div>
      </div>
      {% endfor %}
    </div>
</div>

<div id="profileModal" class="modal top-sheet">
  <div class="modal-content">
    <h5 class="center-align">Restore Profile</h5>
  <div class="row">
      <div class="row">
        <div class="col s12">
        {% for profile in deleted_profiles %}
          <div class="card-panel hoverable">
            <div class="row">
              <div class="col s6">{{ profile.data.friendly_name }} | {{ profile.token_id }}</div>
              <div class="col s6 right-align">
                <a href="{{ url_for('undelete_profile', token=profile.token_id) }}" class="btn-floating blue darken-4 waves-effect tooltipped" data-position="left" data-tooltip="Restore {{ profile.data.friendly_name }}">
                  <i class="material-icons">restore</i>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
  </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-blue btn-flat">Dismiss</a>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large {% if user_profiles|length < limit %}blue{% else %}disabled{% endif %} darken-4 waves-effect tooltipped" data-position="left" data-tooltip="Add Profile" href="{{ url_for('add_profile') }}">
    <i class="large material-icons">add</i>
  </a>
{% if user_profiles|length < limit and deleted_profiles|length > 0%}
  <ul>
    <li>
      <a class="btn-floating btn-large blue darken-4 modal-trigger tooltipped" data-position="left" data-tooltip="Restore Profile" href="#profileModal">
        <i class="material-icons">restore</i>
      </a>
    </li>
  </ul>
{% endif %}
</div>


<script>
  function get_profile_settings(token) {
      $('#profile-panel-'+token).html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.post('/profiles/'+token+'/settings', {
          token: token,
      }).done(function(response) {
          $('#profile-panel-'+token).html(response['html'])
      }).fail(function() {
          $('#profile-panel-'+token).html("<p>{{ (' Error: Lookup failed.') }}</p>");
      });
  }
</script>

<script>
  function edit_profile_info(token) {
      $('#profile-panel-'+token).html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.get('/profiles/'+token+'/edit', {
          token: token,
      }).done(function(response) {
          $('#profile-panel-'+token).html(response['html'])
      }).fail(function() {
          $('#profile-panel-'+token).html("<p>{{ (' Error: Cannot edit.') }}</p>");
      });
  }
</script>

<script>
  function forward_profile(token) {
      $('#profile-panel-'+token).html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.get('/profiles/'+token+'/forward', {
          token: token,
      }).done(function(response) {
          $('#profile-panel-'+token).html(response['html'])
      }).fail(function() {
          $('#profile-panel-'+token).html("<p>{{ (' Error: Cannot forward.') }}</p>");
      });
  }
</script>

<script>
  function edit_profile_settings(token, message_direction, message_type) {
      $('#profile-panel-'+token).html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.post('/profiles/'+token+'/'+message_direction+'/'+message_type+'/settings/retrieve', {
          token: token,
          message_type: message_type,
      }).done(function(response) {
          $('#profile-panel-'+token).html(response['html'])
      }).fail(function() {
          $('#profile-panel-'+token).html("<p>{{ (' Error: Cannot edit.') }}</p>");
      });
  }
</script>

<script>
  function edit_profile_settings(token, message_direction, message_type) {
      $('#profile-panel-'+token).html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.post('/profiles/'+token+'/'+message_direction+'/'+message_type+'/settings/retrieve', {
          token: token,
          message_type: message_type,
      }).done(function(response) {
          $('#profile-panel-'+token).html(response['html'])
      }).fail(function() {
          $('#profile-panel-'+token).html("<p>{{ (' Error: Cannot edit.') }}</p>");
      });
  }
</script>

<script>
  function apply_profile_settings(token, message_direction, message_type) {
      var form = document.getElementById('edit-'+token+'-'+message_type)
      $('#profile-panel-'+token).html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.post('/profiles/'+token+'/'+message_direction+'/'+message_type+'/settings/apply', {
          token: token,
          message_type: message_type,
          formdata: $(form).serialize()
      }).done(function(response) {
          $('#profile-panel-'+token).html(response['html'])
      }).fail(function() {
          $('#profile-panel-'+token).html("<p>{{ (' Error: Apply failed.') }}</p>");
      });
  }
</script>

<script>
  function view_profile_settings(token, message_direction, message_type) {
      $('#profile-panel-'+token).html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.post('/profiles/'+token+'/'+message_direction+'/'+message_type+'/settings/view', {
          token: token,
          message_type: message_type,
      }).done(function(response) {
          $('#profile-panel-'+token).html(response['html'])
      }).fail(function() {
          $('#profile-panel-'+token).html("<p>{{ (' Error: Cannot view.') }}</p>");
      });
  }
</script>

{% endblock %}