<h6 class="center-align">{{ message_settings.name }}</h6>
<table>
{% if message_direction=='northbound' %}
	<tr>
		<th>WMS Host</th>
		<td>{{ message_settings.wms_host }}</td>
	</tr>
	<tr>
		<th>WMS Port</th>
		<td>{{ message_settings.wms_port }}</td>
	</tr>
	<tr>
		<th>WMS Path</th>
		<td>{{ message_settings.wms_path }}</td>
	</tr>
	<tr>
		<th>WMS Headers</th>
		<td>
			{% for header in message_settings.wms_headers %}
				{{ header }}</br>
			{% endfor %}
		</td>
	</tr>
	<tr>
		<th>Send Confirmations</th>
		<td><i class="material-icons">{% if message_settings.send==True %}check{% else %}close{% endif %}</i></td>
	<tr>
		<td colspan="2">
			<code><small>curl -v -d@{{ message_settings.name }}.json {% for header in message_settings.wms_headers %}-H "{{ header }}" {% endfor %} -m 2.0 {{ message_settings.wms_host }}:{{ message_settings.wms_port}}/{{ message_settings.wms_path }}</small></code>
		</td>
	</tr>
{% endif %}
</table>