{% extends "base.html" %}

{% block app_content %}
<div class="row right-align">
  {% if not onboarding.incomplete %}
  <a href="{{ url_for('account_onboarding_reset', user_id=current_user.id)}}" class="btn btn-flat btn-small tooltipped" data-position="bottom" data-tooltip="Reset Onboarding">
    <i class="material-icons small">restore</i>
  </a>
  {% endif %}
</div>
<div class="row center-align">
	<i class="material-icons large">account_circle</i>
	<div id="edit-account">
	<h6>
		{{ account.first_name }} {{ account.last_name }}
	</h6>
	<h6>{{ account.email }}</h6>
    <a class="waves-effect waves-blue btn-flat btn-small" href="javascript:edit_account()">
		<i class="material-icons small">edit</i>
	</a>
	</div>
	<div id="change-password">
	<a class="waves-effect waves-blue btn-flat btn-small" href="javascript:change_account_password()">
		<i class="material-icons small left">security</i> change password
	</a>
	</div>
  {% if (account.data.message_types.northbound + account.data.message_types.southbound)|length == 0 %}
  <div id="choose-messages">
  <a class="waves-effect waves-blue btn-flat btn-small" href="javascript:choose_messages()">
    <i class="material-icons small left">settings</i> choose messages
  </a>
  </div>
  {% else %}
  {% if account.data.message_types.southbound|length > 0 %}
  </br>
  <div id="choose-messages">
  <div class="divider"></div>
  <h6>Southbound Messages</h6>
  {% for message in account.data.message_types.southbound %}
  {{ message }}</br>
  {% endfor %}
  </br>
  {% endif %}
  {% if account.data.message_types.northbound|length > 0 %}
  <h6>Northbound Messages</h6>
  {% for message in account.data.message_types.northbound %}
  {{ message }}</br>
  {% endfor %}
  {% endif %}
  </br>
  <a class="waves-effect waves-blue btn-flat btn-small" href="javascript:choose_messages()">
    <i class="material-icons small left">edit</i> edit messages
  </a>
  </div>
  {% endif %}
<script>
 function edit_account() {
      $('#edit-account').html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.get('/account/edit', {
      }).done(function(response) {
          $('#edit-account').html(response['html'])
      }).fail(function() {
          $('#edit-account').html("<p>{{ (' Error: Cannot edit.') }}</p>");
      }); 	
 }
</script>
<script>
 function change_account_password() {
      $('#change-password').html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.get('/account/change-password', {
      }).done(function(response) {
          $('#change-password').html(response['html'])
      }).fail(function() {
          $('#change-password').html("<p>{{ (' Error: Cannot edit.') }}</p>");
      }); 	
 }
</script>
<script>
 function choose_messages() {
      $('#choose-messages').html('<div class="progress"><div class="indeterminate blue darken-4"></div></div>');
      $.get('/account/choose-messages', {
      }).done(function(response) {
          $('#choose-messages').html(response['html'])
      }).fail(function() {
          $('#choose-messages').html("<p>{{ (' Error: Cannot edit.') }}</p>");
      });   
 }
</script>
{% endblock %}