{% extends "material.html" %}

{% block application_content %}
		<ul id="slide-out" class="sidenav sidenav-fixed blue darken-4 hoverable">
			<li>
				<a class="collapsible-header waves-effect white-text" href="{{ url_for('index') }}">
					<i class="material-icons white-text">home</i>
					HOME
				</a>
			</li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="collapsible-header waves-effect white-text" href="{{ url_for('account_main') }}">
					<i class="material-icons white-text">account_circle</i>
					ACCOUNT
				</a>
			</li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="collapsible-header waves-effect white-text" href="{{ url_for('docs_main') }}">
					<i class="material-icons white-text">chrome_reader_mode</i>
					DOCS
				</a>
			</li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="collapsible-header waves-effect white-text" href="{{ url_for('feed_main') }}">
					<i class="material-icons white-text">rss_feed</i>
					FEED
					{% set new_messages = current_user.new_messages() %}
					<span id="message_count" class="new badge" style="visibility: {% if new_messages %}visible
                                                     {% else %}hidden {% endif %};">{{ new_messages }}</span>
				</a>
			</li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="collapsible-header waves-effect white-text" href="{{ url_for('profiles_main') }}">
					<i class="material-icons white-text">settings</i>
					PROFILES
				</a>
			</li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="collapsible-header waves-effect white-text" href="{{ url_for('logout') }}">
					<i class="material-icons white-text">logout</i>
					LOGOUT
				</a>
			</li>
		</ul>

    <div class="container">
    	<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    	<div class="row">
    		<div class="col s1"></div>
    		<div class="col s11">
		        {% with messages = get_flashed_messages() %}
		        {% if messages %}
		            {% for message in messages %}
		            <div class="card-panel hoverable blue lighten-5">
		            	<i class="material-icons left">notifications</i>{{ message }}
		            </div>
		            {% endfor %}
		        {% endif %}
		        {% endwith %}
    			{% block app_content %}{% endblock %}
    		</div>
    	</div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        function set_message_count(n, change) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
            if (change != 0) {
            	var toastHTML = '<span>' + change + ' new message' 
            	if (change != 1) {
            		toastHTML = toastHTML + 's'
            	}
            	toastHTML = toastHTML + '</span><button class="btn-flat toast-action"><a href="{{ url_for('feed_main') }}">View</a></button>';
            	M.toast({html: toastHTML, classes: 'rounded'});
            }
        }
    </script>

    <script>
        {% if current_user.is_authenticated %}
        $(function() {
        	var current_count = {{ current_user.new_messages() }};
            setInterval(function() {
                $.ajax('{{ url_for('new_messages') }}'
                	).done(
                    function(news) {
                    	var change = 0;
                    	if (news.count > current_count) {
                    		change = news.count - current_count
                    		current_count = news.count;
                    	}
                        set_message_count(news.count, change);
                    }
                );
            }, 12000);
        });
        {% endif %}
    </script>
{% endblock %}