{% extends "material.html" %}

{% block application_content %}
		<ul id="slide-out" class="sidenav sidenav-fixed blue darken-4 hoverable">
			<li>
				<a class="collapsible-header waves-effect white-text" href="#">
					<i class="material-icons white-text">home</i>
					HOME
				</a>
			</li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="collapsible-header waves-effect white-text" href="#">
					<i class="material-icons white-text">business</i>
					SITES
				</a>
			</li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="collapsible-header waves-effect white-text" href="#">
					<i class="material-icons white-text">code</i>
					RELEASES
				</a>
			</li>
			<li>
				<div class="divider"></div>
			</li>
			<li>
				<a class="collapsible-header waves-effect white-text" href="#">
					<i class="material-icons white-text">rss_feed</i>
					FEED
				</a>
			</li>
		</ul>

    <div class="container">
    	<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    	<div class="row">
    		<div class="col s1"></div>
    		<div class="col s11">
		        {% with messages = get_flashed_messages() %}
		        {% if messages %}
		            {% for message in messages %}
		            <div class="card-panel hoverable blue lighten-5">
		            	<i class="material-icons left">notifications</i>{{ message }}
		            </div>
		            {% endfor %}
		        {% endif %}
		        {% endwith %}
    			{% block app_content %}{% endblock %}
    		</div>
    	</div>
    </div>
{% endblock %}