{% extends "base.html" %}

{% block app_content %}

<style type="text/css">
	html, body {
        height: 100%;
        margin: 0px;
    }
    .container {
    	height: 100%;
    	margin: 0px;
    }
	.overlay{
	    position:fixed;
	    width:100%;
	    height:100%;
	    top:0px;
	    left:0px;
	    padding-left: 290px;
	}
</style>
<div id="embedHere" class="overlay"></div>
<script>
	var embed = new Apiary.Embed({
	  subdomain: "pollsapi",
	  element: "#embedHere",
	  preferences: {
	  	collapseMachineColumnByDefault: true
	  }
	});
</script>
{% endblock %}