{% extends 'base.html' %}

{% block app_content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">


      <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#introduction" role="button" aria-expanded="false" aria-controls="introduction">Introduction</a>
      <div class="collapse" id="introduction">
        <div class="card card-body">
          {{ introtxt|safe }}
        </div>
      </div>


      <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#feature" role="button" aria-expanded="false" aria-controls="feature">Features</a>
      <div class="collapse" id="feature">
        <div class="card card-body">
          {% for feat in features %}
            </br><strong>{{ feat['feature'] }}</strong>
            </br>{{ feat['description'] }}
            </br>
          {% endfor %}
        </div>
      </div>


      <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#requirements" role="button" aria-expanded="false" aria-controls="requirements">Data Requirements</a>
      <div class="collapse" id="requirements">
        <div class="card card-body">
          {{ reqtxt|safe }}
        </div>
      </div>


      <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#transports" role="button" aria-expanded="false" aria-controls="transports">Supported Transports</a>
      <div class="collapse" id="transports">
        <div class="card card-body">
          transports coming soon
        </div>
      </div>


      <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#formats" role="button" aria-expanded="false" aria-controls="formats">Supported Formats</a>
      <div class="collapse" id="formats">
        <div class="card card-body">
          formats coming soon
        </div>
      </div>


      <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#credentials" role="button" aria-expanded="false" aria-controls="credentials">Credentials</a>
      <div class="collapse" id="credentials">
        <div class="card card-body">
          {{ credtxt|safe }}
        </div>
      </div>


      <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#development-guide" role="button" aria-expanded="false" aria-controls="development-guide">Development Guide</a>
      <div class="collapse" id="development-guide">
        <div class="card card-body">
          </br>There are two main types of messages between the 6RS API and your WMS.
          <div class="row">
            <div class="col-md-10 col-md-offset-2">

              <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#development-guide-southbound" role="button" aria-expanded="false" aria-controls="development-guide-southbound">Southbound Messages</a>
              <div class="collapse" id="development-guide-southbound">
                <div class="card card-body">
                  </br>Southbound messages originate from your WMS interface and are targeted towards the 6RS API.
                  <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                      {% for msg in spec['southbound'] %}
                        <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#sb-{{ msg['messageType'] }}" role="button" aria-expanded="false" aria-controls="sb-{{ msg['messageType'] }}">{{ msg['messageType'] }}</a>
                        <div class="collapse" id="sb-{{ msg['messageType'] }}">
                          <div class="card card-body">
                            {{ msg['description'] }}
                            <div class="row">
                              <div class="col-md-10 col-md-offset-2">
                                {% for field in msg['fields'] %}
                                  <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#{{ msg['messageType'] }}-{{ field['id'] }}" role="button" aria-expanded="false" aria-controls="credentials">{{ field['title'] }}</a>
                                  <div class="collapse" id="{{ msg['messageType'] }}-{{ field['id'] }}">
                                    <div class="card card-body">
                                      <table class="table">
                                        <tbody>
                                          <tr><th scope="row">name</th><td>{{ field['name'] }}</td></tr>
                                          <tr><th scope="row">description</th><td>{{ field['description'] }}</td></tr>
                                          <tr><th scope="row">type</th><td>{{ field['type'] }}</td></tr>
                                          <tr><th scope="row">use</th><td>{{ field['use'] }}</td></tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#development-guide-northbound" role="button" aria-expanded="false" aria-controls="development-guide-northbound">Northbound Messages</a>
              <div class="collapse" id="development-guide-northbound">
                <div class="card card-body">
                  </br>Northbound messages originate from the 6RS API and are targeted towards your WMS interface.
                  <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                      {% for msg in spec['northbound'] %}
                        <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#nb-{{ msg['messageType'] }}" role="button" aria-expanded="false" aria-controls="nb-{{ msg['messageType'] }}">{{ msg['messageType'] }}</a>
                        <div class="collapse" id="nb-{{ msg['messageType'] }}">
                          <div class="card card-body">
                            {{ msg['description'] }}
                            <div class="row">
                              <div class="col-md-10 col-md-offset-2">
                                {% for field in msg['fields'] %}
                                  <a class="btn btn-default btn-outline btn-block" data-toggle="collapse" href="#{{ msg['messageType'] }}-{{ field['id'] }}" role="button" aria-expanded="false" aria-controls="credentials">{{ field['title'] }}</a>
                                  <div class="collapse" id="{{ msg['messageType'] }}-{{ field['id'] }}">
                                    <div class="card card-body">
                                      <table class="table">
                                        <tbody>
                                          <tr><th scope="row">name</th><td>{{ field['name'] }}</td></tr>
                                          <tr><th scope="row">description</th><td>{{ field['description'] }}</td></tr>
                                          <tr><th scope="row">type</th><td>{{ field['type'] }}</td></tr>
                                          <tr><th scope="row">use</th><td>{{ field['use'] }}</td></tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

						</div>
					</div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}