{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        </br></br></br></br></br></br></br></br>
        <div id="results" class="col s12 toshow" style="display:none;">
            <h4 id="greeter" class="center-align" href="javascript:greet();"></h4>
            </br>
            <div class="col s2"></div>
            <div class="col s8">
              <div id="welcome"></div>
            </div>
            <div class="col s2"></div>
        </div>
    </div>
    <script>
        var targetElem = document.getElementById('#greeter');
        var waypoint = new Waypoint({
          element: document.getElementById('greeter'),
          handler: function(direction) {
            greet()
            this.destroy()
          },
          offset: 600
        })
    </script>
    <script>
        function greet(){
            var today = new Date()
            var curHr = today.getHours()

            if (curHr < 12) {
              var greeting = 'Good morning'
            } else if (curHr < 18) {
              var greeting = 'Good afternoon'
            } else {
              var greeting = 'Good evening'
            }
            $('#greeter').html(greeting + '.');
            $('div.toshow').fadeIn(800);
            $('#greeter').html(greeting + ', <strong>' + '{{ current_user.first_name }}' + '</strong>.')
            $.post('/check-welcome', {
              today: today,
            }).done(function(response) {
              if (response['incomplete']) {
                $('#welcome').html(response['html'])
              }
            });
        }
    </script>
{% endblock %}